@model COVID19.Models.NewPersonBriefDto

@{
    ViewBag.Title = "Brief";
}

<h2>Eliminar</h2>
<h3 style="color: red;">¿Confirma que desea <strong>eliminar</strong> la persona que se detalla a continuación?</h3>

<div class="well">
    <dl class="row">
        <dt class="col-sm-3"><h4>Información Personal</h4></dt>
        <dd class="col-sm-9">
            <dl class="dl-horizontal">
                <dt>@Html.LabelFor(model => model.step1.Name)</dt>
                <dd>@Html.DisplayFor(model => model.step1.Name)</dd>

                <dt>@Html.LabelFor(model => model.step1.SecondName)</dt>
                <dd>@Html.DisplayFor(model => model.step1.SecondName)</dd>

                <dt>@Html.LabelFor(model => model.step1.LastName)</dt>
                <dd>@Html.DisplayFor(model => model.step1.LastName)</dd>

                <dt>@Html.LabelFor(model => model.step1.DocumentNumber)</dt>
                <dd>@Html.DisplayFor(model => model.step1.DocumentNumber)</dd>

                <dt>@Html.LabelFor(model => model.step1.Gender)</dt>
                <dd>@Html.DisplayFor(model => model.step1.Gender)</dd>

                <dt>@Html.LabelFor(model => model.step1.BirrhtDate)</dt>
                <dd>@Html.DisplayFor(model => model.step1.BirrhtDate)</dd>

                <dt>@Html.LabelFor(model => model.step1.MaritalSatatusID)</dt>
                <dd>@ViewBag.MaritalStatus</dd>
            </dl>

        </dd>

        <dt class="col-sm-3"><h4>Domicilio</h4></dt>
        <dd class="col-sm-9">
            <dl class="dl-horizontal">
                <dt>@Html.LabelFor(model => model.step2.Street)</dt>
                <dd>@Html.DisplayFor(model => model.step2.Street)</dd>

                <dt>@Html.LabelFor(model => model.step2.Number)</dt>
                <dd>@Html.DisplayFor(model => model.step2.Number)</dd>

                <dt>@Html.LabelFor(model => model.step2.Floor)</dt>
                <dd>@Html.DisplayFor(model => model.step2.Floor)</dd>

                <dt>@Html.LabelFor(model => model.step2.Dept)</dt>
                <dd>@Html.DisplayFor(model => model.step2.Dept)</dd>

                <dt>@Html.LabelFor(model => model.step2.City)</dt>
                <dd>@Html.DisplayFor(model => model.step2.City)</dd>

                <dt>@Html.LabelFor(model => model.step2.State)</dt>
                <dd>@Html.DisplayFor(model => model.step2.State)</dd>

                <dt>@Html.LabelFor(model => model.step2.Comments)</dt>
                <dd>@Html.DisplayFor(model => model.step2.Comments)</dd>

            </dl>
        </dd>

        <dt class="col-sm-3"><h4>Información de contacto</h4></dt>
        <dd class="col-sm-9">

            <dl class="dl-horizontal">
                <dt>@Html.LabelFor(model => model.step3.Phone)</dt>
                <dd>@Html.DisplayFor(model => model.step3.Phone)</dd>

                <dt>@Html.LabelFor(model => model.step3.MobilePhone)</dt>
                <dd>@Html.DisplayFor(model => model.step3.MobilePhone)</dd>

                <dt>@Html.LabelFor(model => model.step3.Mail)</dt>
                <dd>@Html.DisplayFor(model => model.step3.Mail)</dd>
            </dl>

        </dd>

        <dt class="col-sm-3 text-truncate"><h4>Datos Médicos</h4></dt>
        <dd class="col-sm-9">

            <dl class="dl-horizontal">
                <dt>@Html.LabelFor(model => model.step4.HaveSymptoms)</dt>
                <dd>@Html.DisplayFor(model => model.step4.HaveSymptoms)</dd>

                <dt>@Html.LabelFor(model => model.step4.HadInfectedContact)</dt>
                <dd>@Html.DisplayFor(model => model.step4.HadInfectedContact)</dd>

                <dt>@Html.LabelFor(model => model.step4.RiskGroup)</dt>
                <dd>@Html.DisplayFor(model => model.step4.RiskGroup)</dd>

                <dt>@Html.LabelFor(model => model.step4.RiskReasonID)</dt>
                <dd>@ViewBag.RiskReason</dd>

                <dt>@Html.LabelFor(model => model.step4.HaveSymptoms)</dt>
                <dd>@Html.DisplayFor(model => model.step4.HaveSymptoms)</dd>

                <dt>@Html.LabelFor(model => model.step4.HaveSymptoms)</dt>
                <dd>@Html.DisplayFor(model => model.step4.HaveSymptoms)</dd>

                <dt>@Html.LabelFor(model => model.step4.HaveSymptoms)</dt>
                <dd>@Html.DisplayFor(model => model.step4.HaveSymptoms)</dd>

                <dt>@Html.LabelFor(model => model.step4.HaveSymptoms)</dt>
                <dd>@Html.DisplayFor(model => model.step4.HaveSymptoms)</dd>

                <dt>@Html.LabelFor(model => model.step4.HaveSymptoms)</dt>
                <dd>@Html.DisplayFor(model => model.step4.HaveSymptoms)</dd>


            </dl>

        </dd>

        <dt class="col-sm-3"><h4>Datos de aislación</h4></dt>
        <dd class="col-sm-9">

            <dl class="dl-horizontal">

                <dt>@Html.LabelFor(model => model.step5.InIsolation)</dt>
                <dd>@Html.DisplayFor(model => model.step5.InIsolation)</dd>

                <dt>@Html.LabelFor(model => model.step5.IsolationStart)</dt>
                <dd>@Html.DisplayFor(model => model.step5.IsolationStart)</dd>

                <dt>@Html.LabelFor(model => model.step5.IsolationEnd)</dt>
                <dd>@Html.DisplayFor(model => model.step5.IsolationEnd)</dd>

                <dt>@Html.LabelFor(model => model.step5.QtyPersonsInTouch)</dt>
                <dd>@Html.DisplayFor(model => model.step5.QtyPersonsInTouch)</dd>

                <dt>@Html.LabelFor(model => model.step5.ContactStreet)</dt>
                <dd>@Html.DisplayFor(model => model.step5.ContactStreet)</dd>

                <dt>@Html.LabelFor(model => model.step5.ContactNumber)</dt>
                <dd>@Html.DisplayFor(model => model.step5.ContactNumber)</dd>

                <dt>@Html.LabelFor(model => model.step5.ContactFloor)</dt>
                <dd>@Html.DisplayFor(model => model.step5.ContactFloor)</dd>

                <dt>@Html.LabelFor(model => model.step5.ContactDept)</dt>
                <dd>@Html.DisplayFor(model => model.step5.ContactDept)</dd>

                <dt>@Html.LabelFor(model => model.step5.ContactCity)</dt>
                <dd>@Html.DisplayFor(model => model.step5.ContactCity)</dd>

                <dt>@Html.LabelFor(model => model.step5.ContactState)</dt>
                <dd>@Html.DisplayFor(model => model.step5.ContactState)</dd>

            </dl>

        </dd>
    </dl>
</div>
<p>

    <div class="form-group" style="margin-bottom: 48px;">
        <div class="col-md-12">
            <a href="@Url.Action("Index")" class="btn btn-lg btn-info"><< Volver a la búsqueda</a>
            <a href="@Url.Action("ConfirmDelete", "Person", new { id = Model.step1.PersonID })" class="btn btn-lg btn-danger pull-right">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Confirmar
            </a>
        </div>
    </div>

</p>
